    * {
        margin: 0;
        padding: 0;
    }
    
    .nav {
        position: absolute;
        right: 5vw;
        width: 39vw;
        margin: 1% auto;
    }
    
    .nav ul {
        margin: 10px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }
    
    .nav li {
        list-style: none;
        display: inline-block;
        /*display: inline-block;
        

        border-radius: 10%;*/
    }
    
    .nav li a {
        text-decoration: none;
        font-size: 4.8vh;
        color: #682b3b;
        padding: 15px 20px;
        margin: 10px;
    }
    
    .nav li a.active,
    .nav li a:hover {
        background-image: linear-gradient(#d9455f, white);
        color: #682b3b;
    }
    
    #sidebar {
        background-color: #d9455f;
        max-width: 46vh;
        height: 100vh;
        overflow: auto;
    }
    
    #border-box {
        width: 35vh;
        height: 56vh;
        position: absolute;
        left: 28vh;
        top: 17vh;
        border: 20px solid #d9455f;
    }
    
    #border-box img {
        max-width: 95%;
        height: 52vh;
        padding-top: 5%;
        object-fit: cover;
    }
    
    .mainContainer {
        display: inline-block;
        position: absolute;
        left: 70vh;
        top: 19vh;
        margin: 15px;
    }
    
    .mainContainer h2 {
        font-size: 7.1vh;
        font-weight: bolder;
        font-family: 'Raleway', sans-serif;
    }
    
    .mainContainer h3 {
        margin-top: 3%;
        position: relative;
        top: 78%;
        font-size: 4.5vh;
    }
    
    .btn {
        text-decoration: none;
        border: 2px solid #d9455f;
        padding: 1.5%;
        margin-top: 4%;
        font-size: 1.5em;
        background-image: linear-gradient(#d9455f, white);
        color: #682b3b;
        left: 35%;
        display: inline-block;
    }
    
    .btn:hover {
        background-image: linear-gradient( white, #d9455f);
    }
    
    #copyright {
        max-width: 30vh;
        position: relative;
        top: 87vh;
        left: 1%;
    }
    
    .bottom-container {
        left: 39vw;
        top: 60vh;
        position: absolute;
        display: flex;
        flex-direction: row;
        margin: 2%;
        justify-content: end;
        /* margin-right: auto;
        width: 20%;*/
    }
    
    .link {
        display: inline-block;
        margin: 4%;
    }
    
    .bottom-container img {
        position: relative;
        width: 8vh;
    }
    /**********************************ABOUT ME*********************************/
    
    .about {
        display: inline-block;
        position: absolute;
        left: 30rem;
        top: 23%;
        margin: 15px;
    }
    
    .about h1 {
        font-size: 3rem;
        color: #682b3b;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }
    
    .about-para {
        display: inline-block;
        left: 30rem;
        top: 34%;
        margin: 15px;
    }
    
    .about-bottom-container {
        left: 24vw;
        top: 4vh;
        position: relative;
        display: flex;
        flex-direction: row;
        margin: 2%;
        justify-content: end;
        /* margin-right: auto;
        width: 20%;*/
    }
    
    .about-bottom-container img {
        position: relative;
        width: 8vh;
    }
    
    .about-para p {
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.8rem;
    }
    /*********************RESUME**************************/
    
    .resume h2 {
        font-size: 2rem;
        color: #682b3b;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }
    
    .resume {
        display: inline-block;
        position: absolute;
        left: 30rem;
        top: 23%;
        margin: 15px;
    }
    
    .pdf {
        margin: 10%;
    }
    
    .btn-r {
        text-decoration: none;
        border: 2px solid #d9455f;
        padding: 2.5%;
        margin-top: 4%;
        font-size: 1.5em;
        background-image: linear-gradient(#d9455f, white);
        color: #682b3b;
        left: 35%;
        display: inline-block;
    }
    
    .btn-r:hover {
        background-image: linear-gradient( white, #d9455f);
    }